apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Values.configMap.wordpressFeConfig.name }}
  namespace: {{ .Values.namespace.name }}
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "0"
data:
  WORDPRESS_CONFIG_EXTRA: |
    define('WP_REDIS_CLIENT', 'predis');
    define('WP_REDIS_SCHEME', 'tcp');
    define('WP_REDIS_HOST', '{{ .Values.configMap.wordpressFeConfig.wp_redis_host }}');
    define('WP_REDIS_PORT', '6379');
    define('WP_REDIS_PASSWORD', '');
    define('WP_REDIS_DATABASE', '0');
    define('WP_REDIS_MAXTTL', '900');
    define('WP_REDIS_SELECTIVE_FLUSH', 'xx_');
immutable: false
