apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app.kubernetes.io/part-of: wordpress-demo
    component: redis-cache
  name: {{ .Values.deployment.redis.name }}
  namespace: {{ .Values.namespace.name }}
  annotations:
    "helm.sh/hook": "pre-install,pre-upgrade"
    "helm.sh/hook-weight": "7"
spec:
  progressDeadlineSeconds: 600
  replicas: {{ .Values.deployment.redis.replicas }}
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: wordpress-cache-be
      component: redis-cache
  strategy:
    rollingUpdate:
      maxSurge: 25%
      maxUnavailable: 25%
    type: RollingUpdate
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: wordpress-cache-be
        component: redis-cache
    spec:
      containers:
      - image: {{ .Values.deployment.redis.image }}
        imagePullPolicy: Always
        name: redis
        ports:
        - containerPort: 6379
          protocol: TCP
        resources: {}
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
        volumeMounts:
        - mountPath: /data
          name: redis-data
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
      volumes:
      - name: redis-data
        persistentVolumeClaim:
          claimName: {{ .Values.pvc.redisData.name }}
